/* layout 576 768 992 */

/* UTILS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ----------GENERICS------------ */
.text-center{
    text-align: center;
}
.d-flex{
    display: flex;
}
/* font size */
.f-size20px{
    font-size: 25px;
}

/* padding */
.ptop-5px{
    padding-top: 5px;
}
.ptop-10px{
    padding-top: 10px;
}

/* width and height */
.h-30px{
    height: 30px;
}

/* colors */
.white{
    color: white;
}
/* -------------BODY----------- */

/* -------------HEADER---------- */
.top-button{
    position: fixed;
    z-index: 0;
    width: 100vw;
    height: 120px;
    background-color: blueviolet;
    opacity: 0.7;
}


/* -----------MAIN----------------- */
main{
    display: flex;
}

/* sidebar section */
.sidebar{
    position: fixed;
    width: 40px;
    z-index: 1;
    height: 100%;
    background-color: black;
}
.logo{
    filter: invert(1);
    text-align: center;
}
/* central section */
.central-content{
    padding-left: 50px;
    padding-top: 120px;
    padding-bottom: 120px;
}


/* -----------FOOTER------------- */

.bottom-console{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: 100px;
    width: 100vw;
    background-color: rgb(40,40,40);
}



/* ---------Media query--------- */
@media screen and (min-width:768px) {
    .sidebar{
        width: 200px;
    }
    
}